*{
    margin: 0;
    box-sizing: border-box;
}

.first{
    width: 100%;
    height: 2000px;
    background: linear-gradient(to top left, red, blue );
    position: absolute;

}

.two{
    width: 500px;
    height: 2000px;
    background-color: darkslategrey;
    margin-left: 400px;
    position: absolute;
    
}

.обложкафильма{
    width: 190px;
    height: 300px;
    margin: 10px;
}

.описаниерубежа{
    margin: 10px;
    
}

.firstbut{
    width: 480px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, red, blue, green );
    
    
}

.top{
    width: 75px;
    height: 25px;
    text-align: center;
    position: fixed;
    margin-bottom: 5%;
    background-color: darkslategray;

}

.другие{
    margin: 10px;
}

.df{
    text-align: center;
}

.рекламма{
    margin: 10px;
    margin-top: 40px;
}

.twobut{
    width: 580px;
    height: 50px;
    background: linear-gradient(to right, red, blue, green, red );
    margin: 180px;
    border-radius: 5px;
    color: rgb(248, 248, 248);
    
}

.ректекст{
    color: gold;
    padding: 1px;
    text-align: center;
    margin-top: 20px;
}
    
    
